<div class="col-lg-4 col-md-6">
    <div class="room-item">
        <img src=<%= Room.img_src %> alt="">
        <div class="ri-text">
            <h4><%=Room.roomName%></h4>
            <h3><%= Room.price %>$<span>/Pernight</span></h3>
            <table>
                <tbody>
                    <tr>
                        <td class="r-o">Size:</td>
                        <td><%= Room.Size %></td>
                    </tr>
                    <tr>
                        <td class="r-o">Capacity:</td>
                        <td>Max persion <%= Room.Max_person %></td>
                    </tr>
                    <tr>
                        <td class="r-o">Bed:</td>
                        <td><%= Room.Bed %></td>
                    </tr>
                    <tr>
                        <td class="r-o">Services:</td>
                        <td><%= Room.Services %></td>
                    </tr>
                </tbody>
            </table>
            <a href="#" class="primary-btn">More Details</a>
        </div>
    </div>
</div>
<% for(let i=1; i<=6; i++) {%>
    <%- include("./component/roomCard") %>
    <% } %>